
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
    font-family: 'Droid Serif';
}

h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
}


  
img {
    width: 100%;
}

.remark-slide-content {
    font-size: 30px;
    
    h1 {
        font-size: 3em;
        margin-top: 0;
    }
}

.center {
    ul, ol {
        width: 80%;
        margin-left:10%;
        
        li {
            text-align: left;
            line-height: 1.75em;
        }
    }
    
    pre {
        text-align: left;
    }
}

.remark-code {
    display: block;
    padding: 0.5em;
}

.remark-code, .remark-inline-code { 
    background-color: #CCC;
    color: black;
    font-family: 'Ubuntu Mono'; 
}

.remark-code-line.remark-code-line-highlighted,
.code-highlight,
.ch {
    background-color: rgba(255, 255, 0, 0.85);
    color: black;
    
    span {
        color: black !important;
    }
    
    code {
        background-color: transparent;
    }
}